{% extends "base.html" %}
{% load static %}

{% block title %}
{{ name }} - Drink Details
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "cocktails/drink-details.css" %}" />
{% endblock %}

{% block content %}
<section id="summary">
    <h2>{{ name }}</h2>
    <article>
        {% comment %} <img src="{% static "cocktails/images/"|add:drink.image %}" alt="{{ drink.title }}"> {% endcomment %}
        <address>{{ strength }}</address>
        <address>{{ flavors }}</address>
        {% comment %} {% for flavor in flavors %}
        {% endfor %} {% endcomment %}
        <div>Last update on <time datetime="">{{ date|date:"D d M Y" }}</time></div>
    </article>
</section>

<main>
    <p> 
        {{ ingredients|linebreaks }}
    </p>
    {% comment %} {% for ingredient in ingredients %}
    {% endfor %} {% endcomment %}
</main>
{% endblock %}