{% extends "base.html" %}
{% load static %}

{% block title %}
{{ drink.title }} - Drink Details
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "cocktails/drink-details.css" %}" />
{% endblock %}

{% block content %}
<section id="summary">
    <h2>{{ drink.title }}</h2>
    <article>
        <img src="{% static "cocktails/images/"|add:drink.image %}" alt="{{ drink.title }}">
        <address>{{ drink.author }}</address>
        <div>Last update on <time datetime="">{{ drink.date|date:"D d M Y" }}</time></div>
    </article>
</section>

<main>
    <p> 
        {{ drink.content|linebreaks }}
    </p>
</main>
{% endblock %}